/*Variables*/
:root{
    --mint: rgb(0, 255, 179);
    --dark: rgb(32, 32, 32);
    --gray: rgb(77, 77, 77);
    --white: #fff;
}

body{
background: linear-gradient(180deg, var(--dark), var(--white));
background-attachment: fixed;
font-family: Arial, Helvetica, sans-serif;
flex-wrap: wrap;
display: flex;
}

/*Header styling*/
.heading{
background-color: var(--dark);
display: flex;
}

.name{
    background-color: var(--mint);
    border: solid var(--white);
    padding: 5px 25px 5px 25px;
    margin-left: -25px;
    font-size: 50px;
    color: var(--dark);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*Navigation bar styling*/
.directory{
    float: right;
    display: flex;
}

.directory ul{
    list-style-type: none;
    display: inline-flex;
    margin-left: 100px;
    margin-top: 75px;
    flex-wrap: wrap;
}

.directory ul a {
    color: var(--mint);
    margin-right: 40px;
}

/*Background image styling*/
.imge{
    background-image: url(../JGuadarrama-Portfolio/images/blue\ skyline.jpeg);
    background-position: right;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Sidebar styling*/
aside {
    width: 100%;
}
#sidebar{
    border-right:solid var(--mint);
    margin-top: 30px;
    padding: 25px;
    margin-right: 15px;
}
aside h2{
    color: var(--mint);
}

/*<Main> content sections styling*/
.all-cards{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background-color: var(--gray);
    padding:10px;
    margin:30px;
    border:solid var(--mint);
    text-align: center;
}

/*About Me section styling*/
#Me {
    justify-content: center;
}

#selfie{
    float: left;
    width: auto;
    max-height: 300px;
    margin-right: 10px;
}

.bio{
    text-align: justify;
    color: var(--white)
}

/*First application card*/
.appIMG {
    max-height: 400px;
    min-width: 75%;
    margin: auto;
}

/*Section images styling*/
img{
    max-height: 200px;
    max-width:100%;
    display: flex;
    flex-wrap: wrap;
}

/*section text styling*/
.card h2{
    text-align: center;
    color: var(--mint);
}

.card h2 a{
    color: var(--mint);
}

.card p{
    color: var(--white)
}

/*Contact section styling*/
#Contact{
width: 100%;
height: auto;
}

.card ul{
    list-style-type: none;
    display: inline-flex;
    padding: 0px;
    margin: 5px 10px 5px 10px;
    flex-wrap: wrap;
}

.card ul a {
    padding: 15px;
    margin: 15px;
    color: var(--white);
    font-size: 20px;
}

/*Footer Styling*/
footer{
    background-color: var(--dark);
    height: 50px;
    width:100%;
}
footer h3 {
    color: var(--white);
    text-align: center;
    padding:0px;
}

/*Media Query*/
@media screen and (max-width:1073px){
    .all-cards{
        width:100%
    }
    .cards{
        width:100%;
    }
    header{
        width:100%   
    }
   
    a{
        width:100%;
    }
    aside{
        width: 100%;
    }
    #sidebar{
        border-bottom: solid var(--mint);
        border-right: none;
        text-align: center;
    }
    .imge{
        width:100%
    }
    footer{
        width:100%;
    }
}

/*@media screen and (max-width:480px){
    .all-cards{
        width:75%
    }
    header{
        width:100%   
    }
    nav{
        width:100%
    }
    aside{
        width: 100%;
    }
    .imge{
        width:100%
    }
    footer{
        width:100%;
    }
}*/

@media screen and (min-width:951px){
    header{
        width:100%;
    }
    #sidebar{
        border-bottom: solid var(--mint);
        border-right: none;
        text-align: center;
    }
    .all-cards{
        width: 100%;
        justify-content: center;
    }
}